@import "colours";

div.console {
    width: 100%;
    margin: 128px 0 96px 0;
    border-radius: 16px;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.05);

    >div:first-child {
        width: 100%;
        height: 32px;
        padding: 8px;
        background-color: $accent-light;
        border-radius: 8px 8px 0 0;

        div {
            border-radius: 50%;
            width: 16px;
            height: 16px;
            background-color: $accent;
            display: inline-block;
            margin-right: 4px;
        }
    }

    >div:last-child {
        width: 100%;
        padding: 32px 32px calc(32px - 1em) 32px;
        background-color: white;
        border-radius: 0 0 8px 8px;
        font-family: "Fira Mono";
        font-size: 1.2rem;
        line-height: 1.6rem;
        word-break: break-word;

        a {
            color: $accent;
            text-decoration: none;
            transition: color 100ms;

            &:hover {
                color: lighten($accent, 10%);
            }
        }

        div.cursor {
            display: inline-block;
            vertical-align: sub;
            height: 1.44rem;
            width: 0.72rem;
            background-color: $accent;
            margin-left: 0.7em;
            animation: blink 1s infinite steps(1, end);
        }
    }
}

div.mainCommand {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 64px;

    img {
        flex: 1;
        width: 40%;
        height: 400px;
    }

    >div {
        flex: 1;
        padding-top: 1em;
        min-width: min(400px, 100%);

        span {
            color: $accent;

            &.expandButton {
                cursor: pointer;
                margin-left: 4px;
                font-weight: bold;
                user-select: none;
            }

            &.additionalSkills {
                color: unset;
                display: none;

                &.show {
                    display: block;
                }
            }
        }

        a {
            color: unset !important;
            text-decoration: underline !important;

            &:hover {
                color: $accent  !important;
            }
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    div.console {
        margin: 96px 0;
    }

    div.mainCommand {
        img {
            height: unset;
            margin-bottom: -48px;
        }
    }
}