main.blogPost {
  >div {
    max-width: 800px;
    margin: auto;

    header {
      h1 {
        font-size: 4rem;
        overflow-wrap: break-word;
      }

      margin-bottom: 64px;
    }

    div.post {
      font-size: 20px;
      line-height: 26px;

      p {
        margin: 1.3em 0;
      }

      code {
        font-family: "Fira Mono";
      }

      pre code.hljs {
        display: block;
        max-width: 800px;

        font-size: 1rem;
        background-color: white;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
        padding: 16px;
        border-radius: 4px;
        overflow: auto;

        div.container {
          border-radius: 4px;
        }

        color: #383A42;

        .hljs-comment,
        .hljs-quote {
          color: #a0a1a7;
          font-style: italic
        }

        .hljs-doctag,
        .hljs-formula,
        .hljs-keyword {
          color: #a626a4
        }

        .hljs-deletion,
        .hljs-name,
        .hljs-section,
        .hljs-selector-tag,
        .hljs-subst {
          color: #e45649
        }

        .hljs-literal {
          color: #0184bb
        }

        .hljs-addition,
        .hljs-attribute,
        .hljs-meta .hljs-string,
        .hljs-regexp,
        .hljs-string {
          color: #50a14f
        }

        .hljs-attr,
        .hljs-number,
        .hljs-selector-attr,
        .hljs-selector-class,
        .hljs-selector-pseudo,
        .hljs-template-variable,
        .hljs-type,
        .hljs-variable {
          color: #986801
        }

        .hljs-bullet,
        .hljs-link,
        .hljs-meta,
        .hljs-selector-id,
        .hljs-symbol,
        .hljs-title {
          color: #4078f2
        }

        .hljs-built_in,
        .hljs-class .hljs-title,
        .hljs-title.class_ {
          color: #c18401
        }

        .hljs-emphasis {
          font-style: italic
        }

        .hljs-strong {
          font-weight: 700
        }

        .hljs-link {
          text-decoration: underline
        }
      }

      blockquote {
        border-left: 8px solid transparentize($accent, 0.5);

        margin: 0;
        padding-left: 32px;
        font-family: "Prata";
      }

      a {
        text-decoration: underline;
        color: $accent;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Prata";
        margin: 2em 0 20px 0;
        line-height: 1.2em;
        overflow-wrap: break-word;
      }

      hr {
        margin: 3em 0;
        border: 1px solid $text;
        border-radius: 1px;
        width: 200px;
        place-self: center;
      }

      img,
      video {
        display: block;
        max-width: 100%;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin: 1.5em auto;
      }

      svg {
        max-width: 100%;
        height: unset;
      }

      small {
        opacity: 0.8;
      }

      span[data-tooltip] {
        position: relative;
        border-bottom: 2px dotted $text;
        cursor: help;

        &:hover::after {
          display: block;
          position: absolute;
          font-style: normal;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          width: max-content;
          content: attr(data-tooltip);
          background: white;
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          padding: .25em;
        }
      }
    }

    footer {
      text-align: center;
      margin: 64px 0;
      opacity: 0.8;

      p {
        a {
          text-decoration: underline;
        }

        &:first-child {
          font-size: 1.2em;
        }

        &:last-child {
          font-size: 0.9em;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  main.blogPost>div header h1 {
    font-size: 3rem;
  }

  main.blogPost>div div.post {
    font-size: 18px;
    line-height: 24px;
  }
}