@import "colours";

@import "blogpost";
@import "console";
@import "contact";
@import "postcards";
@import "posts";
@import "project";

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
    color: $text;
    background-color: $background;
    font-size: 16px;
    margin: 32px;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;

    &.accent {
        color: $accent;
    }
}

pre {
    font-family: "Fira Mono";
}

main {
    font-family: Inter;
    max-width: 1000px;
    margin: auto;

    nav {
        position: relative;
        width: 100%;
        padding: 16px 32px;
        text-align: right;
        font-size: 1.2rem;

        span {
            float: left;
            font-family: "Prata";
            color: $accent;
            font-size: 1.5em;
            cursor: default;
        }

        >a {
            margin-left: 64px;
            transition: color 100ms;

            &:hover {
                color: $accent;
            }
        }

        >a:first-of-type {
            margin-left: 0;
        }
    }

    header {
        margin-top: 96px;

        div:first-of-type {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-family: "Fira Mono";
        }

        h1 {
            width: 100%;
            font-size: 6rem;
            font-family: Prata;
            text-align: center;
            margin: 2.5rem 0;
            line-height: 1em;

            span {
                display: block;

                &:first-child {
                    color: $accent;
                }
            }
        }

        div:last-of-type {
            margin: 0 auto;
            max-width: 750px;
            text-align: center;
            font-family: "Fira Mono";
            font-size: 1.2em;
        }
    }

    section {
        h2 {
            position: relative;
            min-width: 100%;
            margin: 0 auto 32px auto;
            font-size: 4rem;
            font-family: Prata;
            text-align: center;
            color: $accent;

            &.darker {
                color: $accent-dark;
            }
        }

        >div:first-of-type:not(.PostCards):not(.Posts):not(a) {
            max-width: 750px;
            text-align: center;
            font-family: "Fira Mono";
            font-size: 1.2em;
        }
    }

    section.projects {
        display: flex;
        flex-direction: column;
        gap: 64px;

        >div:first-of-type {
            margin: -64px auto 0 auto;
        }
    }

    section.blogPosts {
        margin: 128px 0 0 0;

        >div:first-of-type {
            margin: 0 auto 64px auto;

            a {
                text-decoration: underline;
                color: $accent;
            }
        }
    }

    section.contact {
        margin: 128px 0 148px 0;

        >div {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

        >div:first-of-type {
            margin: 0 auto 64px auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    main nav {
        padding: 8px;

        >a {
            margin-left: 32px;
        }
    }

    main header h1:not(.veryBig) {
        font-size: 15vw;
    }

    main section h2 {
        font-size: 12vw;
    }
}